li a h1{
  font-size: 30px;
  text-decoration: none;
  background-color: #0007;
  color: white;

}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  list-style: none;
}

.h1hover:hover{
  color: black;
  background-color: #fff5;
}

.carddashboard1{
  display:flex;
  flex-direction:column;
  justify-content:center;
  padding: 1em;
  width: 520px;
  min-height: 280px;
  box-shadow: 1px 1px 3px 3px #000;
  padding: 1em;
  margin: 1em;
  background-image: url('../../PaginaWeb/img/card5.jpg');
  color: black;
}

.carddashboard2{
  display:flex;
  flex-direction:column;
  justify-content:center;
  padding: 1em;
  width: 520px;
  min-height: 280px;
  box-shadow: 1px 1px 3px 3px #000;
  padding: 1em;
  margin: 1em;
  background-image: url('../../PaginaWeb/img/card2.jpg');
  color: black;
}

.carddashboard3{
  display:flex;
  flex-direction:column;
  justify-content:center;
  padding: 1em;
  width: 520px;
  min-height: 280px;
  box-shadow: 1px 1px 3px 3px #000;
  padding: 1em;
  margin: 1em;
  background-image: url('../../PaginaWeb/img/card1.jpg');
  color: black;
}

.carddashboard4{
  display:flex;
  flex-direction:column;
  justify-content:center;
  padding: 1em;
  width: 520px;
  min-height: 280px;
  box-shadow: 1px 1px 3px 3px #000;
  padding: 1em;
  margin: 1em;
  background-image: url('../../PaginaWeb/img/card4.jpg');
  color: black;
}

.carddashboard5{
  display:flex;
  flex-direction:column;
  justify-content:center;
  padding: 1em;
  width: 520px;
  min-height: 280px;
  box-shadow: 1px 1px 3px 3px #000;
  padding: 1em;
  margin: 1em;
  background-image: url('../../PaginaWeb/img/card3.jpg');
  color: black;
}

div .h12{
  background-color: #1235;
}

.h12{
  justify-content: center !important;
  text-align: center !important;
  color: black !important;
  font-size: 22px;
  text-shadow: 1px 1px 2px white;
}

.h13{
  justify-content: center !important;
  text-align: center !important;
  color: black !important;
  font-size: 30px;
  text-shadow: 1px 1px 2px white;
}

.backgroundcolor{
  background-color: #fff;
}

.backgroundcolor2{
  background-color: lightgray;
}

.backgroundcolor3{
  background-color: #fff;
}

.backgroundcolor4{
  background-color: #1233;
  text-align: center;
}

.background{
    background-color: #738AFD;
    color: black;
}

.background:hover{
  background-color: #425FD1;
  color: white;
}

.backgroundrojo{
  background-color: #ff3838;
  color: black;
}

.backgroundrojo:hover{
  background-color: #ed0000;
  color: white;
}

label{
  font-size: 18px;
}
