table tr:nth-child(2n-1) td {
  background: #C7D8FF;
}

table th, table td {
  text-align: center;
}

table .service,
table .desc {
  text-align: left;
}

table td {
  padding: 20px;
  text-align: right;
}

table td.service,
table td.desc {
  vertical-align: top;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: black;
}

table {
    width: 75%;
    border-collapse:collapse;
    border-spacing: 0;
    margin-bottom: 20px;
    background-color: #E8E8E8;
    text-align: center;
    margin: 0 auto;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr th{
  background-color: black;
  color: white;
  text-shadow: 2px 2px 2.7px white;
}

table th {
    padding: 5px 20px;
    color: white;
    border-bottom: 1px solid #C1CED9;
    white-space: nowrap;
    font-weight: normal;
    font-size: 17px;
}

table td {
    padding: 20px;
    text-align: center;
    font-size: 15px;
}

td, th {
    display: table-cell;
    vertical-align: inherit;
}

table td.unit,
table td.qty,
table td.total {
  font-size: 15px;
}

table td.grand {
  border-top: 1px solid #5D6975;
  text-shadow: 1px 1px 1px black;
}

button{
      text-decoration: none;
      padding: 3px;
      padding-left: 10px;
      padding-right: 10px;
      font-family: helvetica;
      font-weight: 300;
      font-size: 20px;
      font-style: italic;
      color: black;
      background-color: #B6B6B6;
      border-radius: 15px;
      border: 3px double black;
}

.btn1{
  background-color: #738AFD;
  color: black;
}

.btn2{
  background-color: #ff3838;
  color: black;
}

.btn1:hover{
  background-color: #425FD1;
  color: white;
}

.btn2:hover{
  background-color: ##ed0000;
  color: white;
}

form{
  text-align: center;
}
