body {
    background-color: #fff !important;
    color: #000;
    font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
    margin:0px;
    padding:0px;

}
p {
    line-height: 1.5;
    font-size: 18px;
    background-color: #0005;
    color: white;
}

a {
  color: #fff;
  text-decoration:none;
}

nav {
  background-color: #0008;
  padding: 0px;
  margin: 0px;
  position: fixed;
  width:100%;
  top:0px;
  z-index:1000;
}


nav ul{
  list-style: none;
  text-align:center;
  padding: 0px;
  margin: 0px;
}

nav ul li{
  display:inline;
  transition: 0.8s all;
}

nav ul li a{
  position: relative;
}
header {
  position: relative;
  padding: 0px;
  color: #fff;
  background-image: url(../img/uns.jpg);
  width: 100%;
  height: 100vh;

}
div h1 {
  font-size: 50px;
  margin: 0px;
  padding: 0.5em 1em;
  text-align:left;
  padding-top: 185px;
  text-align: center;
}

.h11{
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  text-shadow: 1px 5px 2px black;
}

section h1{
  font-size: 50px;
  margin: 0px;
  padding: 0.5em 1em;
  text-align:left;
  padding-top: 60px;
  text-align: center;
}
.hb nav ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  max-height: 1000px;
  overflow: hidden;
  transition: max-height 0.5s ease-in;
}
.hb nav ul.collapsed {
  max-height: 0.01px;
  transition: max-height 0.25s ease-in;
  padding: 0px;
}

.li1{
  margin-top: 2%;
}

.hb nav ul li a {
  box-sizing: border-box;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 0.5em 1em;
  width: 100%;
}

.btnHB {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-sizing: border-box;
  width: 33px;
  height: 33px;
  margin: 0px;
  position: absolute;
  top: 1px;
  right: 3px;
}

.btnHB div {
  box-sizing: border-box;
  height: 4px;
  margin: 0px;
  background-color: #fff;
  border-radius: 3px;
}

@media (min-width:1025px) {
  .btnHB {
    display: none !important;
  }
  .hb nav ul {
    box-sizing: border-box;
    display: flex !important;
    max-height: 100% !important;
    opacity: 1 !important;
    width: 100%;
    justify-content: space-evenly;
    padding-bottom: 1em;
    max-width: 1025px;
    margin: 0px center;
  }

  nav ul li a:before{
    content: '';
    width: 0px;
    height: 4px;
    background: #11FF00;
    position: absolute;
    top: 120%;
    left: 0;
    transition: .5s;
    mix-blend-mode: multiply;
  }

  nav ul li a:after{
    content: '';
    width: 0px;
    height: 4px;
    background: #fff;
    position: absolute;
    top: 120%;
    right: 0;
    transition: .5s;
    mix-blend-mode: multiply;
  }

  nav ul li:hover a:before{
    width: 50%;
    transform: translateX(100%);
  }
  nav ul li:hover a:after{
    width: 50%;
    transform: translateX(-100%);
  }

  .prlx1{
    width: 101%;
  }

  .hero{
  }

  h1{
    text-align: center;
    padding-top: 180px;
  }
  section h1{
    padding-top: 150px;
  }
  li{
    padding-bottom: 0px;
    margin-left: -70px;
    margin-right: -70px;
  }
  ul{
    margin-top: -9px !important;
  }
  nav{
    height: 90px;
  }
}

nav ul li a{
  display:inline-block;
  padding: 1em 1.25em;

}



.aEst{
    text-decoration:underline;
    text-align: center;
}

img{
  width: 80px;
  height: 57px;
  position:relative;
  padding: 0px

}

nav ul li a:hover{
}

.div2{
  position: fixed;
}
